{
    "arrowParens": "avoid",
    "singleQuote": true,
    "jsxSingelwQuote": true,
    "tabWidth": 2,
    "traillingComma": "none",
    "semi": false,
    "proseWrap": "always",
    "printWidth": 80,
    "plugins": ["prettier-plugin-tailwinds"]
}